.videoPlayerWrapper {
  max-width: 1600px;
  margin: 100px auto 0 auto !important;
  font-family: Rubik;
  font-style: normal;
}
.view {
  padding-left: 12.4%;
  padding-right: 12.4%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 145px;
  width: fit-content;
}
/* body {
  background-color: #ffff;
} */

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-rows: minmax(150px, auto); */
  grid-column-gap: 21px;
  grid-row-gap: 15px;

  /* background-color: rgb(127, 151, 224); */

  min-height: 200px;
}

.video__header {
  grid-column: 1/3;
  padding-left: 23.45%;
  padding-right: 23.45%;
}
/* .video__header {
  border: 1px solid #000;
  border-radius: 98px;
  box-shadow: 0px 2px 26px -16px rgba(0, 0, 0, 0.25);
  height: 50px;
} */

.red_hightlight {
  background-color: #ff3366 !important;
  border-radius: 0 98px 98px 0 !important;
}

.video__header ul {
  height: 50px;
  display: grid;
  text-align: center;
  grid-template-columns: 0.21fr 0.686fr;
}
.video__header li {
  height: 50px;
  padding-top: 15px;
  background-color: #fff;
  border-radius: 98px 0px 0px 98px;
  box-shadow: 0px 2px 26px -16px rgb(0 0 0 / 25%);
}
.video__header ul a {
  text-align: center;

  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.red_hightlight a {
  color: #ffffff;
}

.video__header img {
  padding-right: 12px;
  padding-top: 3px;
}

.item2 {
  width: 796px;
}

.description h1 {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 12px;

  color: #000000;
}

.descriptionContent {
  max-width: 714px;
}

.description h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 24px;
}

.description h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 12px;
}

.description a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  word-break: break-word;

  text-decoration-line: underline;
}

/* SiderBar box */

.item3 {
  grid-column: 2;
  grid-row: 2/4;
  background: #ffffff;
}
.video_sidebar__container {
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 10px;
  max-height: 756px;
  width: 100%;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  width: 4px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.sidebox__wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 35px 35px 35px;
}

.sideBox {
  background: #ffffff;
  border: 1px solid #ebebeb;
  width: 316px;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sideBox.start {
  border: 1px solid #ebebeb;
  border-radius: 10px 10px 0px 0px;
}

.sideBox.end {
  border: 1px solid #ebebeb;
  border-radius: 0px 0px 10px 10px;
}

.sideBox.top {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sideBox img {
  width: 14px;
  height: 7px;
  margin-right: 38px;
  margin-top: 38px;
}

.circle {
  background: #ebebeb;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 38px;
  margin-top: 38px;
}
.module__status {
  background-color: #20a4f3;
}

.sideBox__content h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 5px;

  color: #000000;
}

.sideBox__content p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #8d7c7c;
}

.sideBox__content {
  padding: 21px 0px 21px 21px;
}

.sideContent__wrapper {
  max-height: 591px;
  overflow-y: scroll;
  margin-right: -35px;
  padding-bottom: 35px;
}

#scroll-1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px#C0C0C0;
  border-left: solid 19px transparent;
  border-right: solid 19px transparent;
  border-bottom: solid 19px transparent;
}

#scroll-1::-webkit-scrollbar {
  width: 40px;
}

#scroll-1::-webkit-scrollbar-thumb {
  border-radius: 10px;

  box-shadow: inset 0 0 10px 10px #444444;
  border-left: solid 19px transparent;
  border-right: solid 19px transparent;
  border-bottom: solid 19px transparent;
}

/* Side Video */
.sideVideoBox img {
  width: 316px;
  height: 175px;

  border-radius: 10px;
  margin-bottom: 15px;
}

.sideVideoBox h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 20px;

  color: #000000;
}

/* Video Play Contolls */
.video__container {
  position: relative;

  overflow: hidden;
  /* height: 444px;
  width: 796px; */

  /* max-height: 444px; */
}

.video__container > video {
  height: 444px;
  width: 100%;

  background-color: black;
}

.video__controlls {
  display: grid;

  position: absolute;
  bottom: 3px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.7);
  padding: 13px 30px 10px 30px;
  grid-template-columns: 5% 5% 15% 66% 5% 5%;
}

.video__controlls button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;

  width: 20px;
  height: 20px;

  background-color: transparent;
}

.video__controlls button:hover {
  opacity: 50%;
}

.controlls__playPause button::before {
  content: url(./img/play.png);

  width: 20px;
  height: 20px;

  background-color: transparent;
  cursor: pointer;
}

.controlls__playPause #play-pause.play::before {
  content: url(./img/play.png);
}
.controlls__playPause #play-pause.pause::before {
  content: url(./img/pause.png);
}

.controlls__volume #volume::before {
  content: url(./img/volume.png);
}

.video__quality #quality::before {
  content: url(./img/settings.png);
}

#quality {
  position: absolute;
  bottom: 13px;
}

.video__fullscreen #fullscreen::before {
  content: url(./img/fullscreen.png);
}

.controlls__bar {
  height: 10px;
  width: 30%;
  top: 0;
  left: 0;
  background-color: thistle;
}

.volume__range {
  position: absolute;

  z-index: 2;

  width: 67px;
  height: 2px;

  /* width: 2px;
height: 67px; */
  left: 13%;
  top: 45%;

  border-radius: 7px;
}

.volumeWrapper {
  position: relative;
  background: #030609;
  width: 87px;
  height: 23px;
}

.volume__container {
  position: absolute;
  bottom: 84px;
  bottom: 50px;
  left: -20px;
  padding-left: 32px;
  padding-bottom: 32px;
  padding-top: 32px;
  cursor: pointer;

  transform: rotate(270deg);
  z-index: 2;
}

/* .volume__container {
  display: none;
}

#volume:hover + .volume__container {
  display: block;
} */

/* Input Range */

input[type="range"] {
  -webkit-appearance: none;
  background-color: #696969;
  height: 2px;

  border-radius: 5px;
  outline: none;
  border: none;
  position: absolute;
  bottom: 13px;
}
/* input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
} */

.duration__process {
  position: relative;
  width: 95%;
}

.duration__processBar {
  width: 100%;
}

.duration__process input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  z-index: 5;
  position: relative;
}

input[type="range"]::-moz-range-progress {
  background-color: #8d7c7c;
}

#progressFill {
  height: 2px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  bottom: 13px;
  z-index: 4;
}

/* #selector {
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 5px;
  left: 0;
}

.selecBtn {
  border: 1px solid #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
} */

.duration p {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #ffffff;

  display: inline-block;
  vertical-align: text-bottom;
}

.quality__conatainer {
  position: absolute;

  bottom: 70px;
  right: 45px;

  cursor: pointer;
  text-align: center;
}

.qualityWrapper {
  width: 83px;
  height: 186px;
  background-color: #ebebeb;
  border-radius: 7px;
  padding: 20px;
}

.qualityWrapper p {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;

  color: #000000;
}

.qualityWrapper p.currentQuality {
  color: #ff3366;
}

.qualityWrapper p:hover {
  color: #bcbcbc;
}

.bigButtonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bigButtonWrapper {
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.bigButtonWrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  display: block;
}

.video__container:hover .overlay {
  display: block;
}

#processHover {
  display: none;
}

.duration__process:hover #processHover {
  display: block;
}

#processHover {
  height: 2px;
  background-color: #cc0404;
  border-radius: 3px;
  position: absolute;
  bottom: 13px;
  /* width: 0%; */
  z-index: 3;
}

#processHover img {
  position: absolute;
  right: -54px;
  bottom: 21px;
}

.showModule-enter {
  opacity: 0;
}
.showModule-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.showModule-exit {
  opacity: 1;
}
.showModule-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* Responsive */
@media only screen and (max-width: 1599px) {
  .video__header {
    grid-column: 1/3;
    padding-left: 18%;
    padding-right: 18%;
  }
}

@media (max-width: 1300px) and (min-width: 280px) {
  .video__header ul a {
    font-size: 15px;
  }

  .video__header {
    grid-column: 1/2;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .item3 {
    grid-column: 1;
    grid-row: 2/3;
    background: #ffffff;
  }

  .sideBox {
    width: 100%;
  }
  .sideVideoContainer {
    display: flex;
    justify-content: space-between;
  }

  .sideContent__wrapper {
    width: 800px;
    overflow-y: unset;
    overflow-x: auto;
    padding-bottom: 0;
  }

  .video_sidebar__container {
    border: none;
  }

  .sidebox__wrapper {
    padding: 0;
  }

  .sideVideoBox {
    margin-right: 25px;
  }
}
