a{
text-decoration: none;
}
.review_app{
background-color: #f6f7f9;
}
.review_wrapper{
max-width: 1600px;
margin: 0 auto !important;
}
.review_container{
width: 100%;
padding-left: 10%;
padding-right: 10%;
}
.review_main{
display: grid;
grid-template-rows: 0.1fr 0fr 0.07fr 1fr 0.13fr;
}
.review_content{
display: grid;
grid-template-columns: 1fr 5fr;
align-items: center;
}
#review_content_text{
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 130%;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;
white-space: nowrap;
}
.review_vector{
width: 100%;
border: 1px solid #000000;
}
.review_title{
display: grid;
grid-template-columns: 1fr 1fr;
}
.review_book_list{
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 20px;
}
.review_first{
display: grid;
grid-template-rows: 0fr 0fr 0fr;
grid-row-gap: 20px;
}
.review_book_list img{
width: 100%;
}
.review_list_box{
width: 100%;
height: auto;
left: 0px;
top: 285px;
    
background: #FFFFFF;
border-radius: 0px 0px 10px 10px;
padding: 25px;
}
#review_list_text1{
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;
}
#review_list_text2{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140%;
/* or 25px */
padding-top: 12px;

color: #383838;
}
.review_second{
display: grid;
grid-template-rows: 0fr 0fr 0fr;
grid-row-gap: 20px;
}
.review_button{
justify-self: center;
background: #20A4F3;
border-radius: 216px;
align-self: center;
height: 75px;
padding: 25px 74px;
width: 347px;
}
#review_button_text{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 150%;
white-space: nowrap;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}