p{
    margin: 0;
    padding: 0;
}


.wrapper_curses_which_teach{
    width: 100%;
    max-height: 313px;
    background-color: #011627;
    padding-top: 45px;
    padding-bottom: 55px;
    height: 100%;
    margin-bottom: 145px;
    
}

.container_for_curses_which_teach{
    max-width: 1204px;
    width: 100%;
    margin: 0 auto;
}

.curses_which_teach_theme{
    color: white;
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    margin-bottom: 30px;

}
.part__courses__block{
    display: grid;
    grid-template-columns: 10fr 9fr;
    padding-left: 37px;
    background-color: white;
    border-radius: 10px;
    max-width: 592px;
    height: 150px; 
  
    
    
}


.marketing__and__PR{
    font-weight: 500;
    font-size: 16px;
    color: #FF3366;
    text-transform: uppercase;
    line-height: 19px;
    margin-bottom: 8px;
    font-family: Rubik;
}
.marketing__and__PR__down{
    color: #333333;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.start__and__end{
    color: #011627;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 8px;
}

.lector__name{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}


.marketing__left__block {
    border-right: 1px solid #ebebeb;
    height: 100%;

}



.marketing__right__block {
    padding-left: 32px;
    padding-top: 38px;
  
}



